* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
form {
    width: 400px;
    margin: 20px auto;
    padding: 16px;
    background-color: #f9f9f9;
}
form > div {
    padding: 5px 0;
}
form input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
form label {
    position: relative;
    padding-left: 30px;
}
form label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #0075ff;
    background-color: white;
    position: absolute;
    left: 0;
}
form input[type="radio"]:checked + label::after,
form input[type="radio"]:not(:checked):hover + label::after {
    content: "";
    background-color: #0075ff;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 4px;
    top: 4px;
}
form input[type="radio"]:not(:checked):hover + label::after {
    opacity: 0.2;
}
form input[type="radio"]:checked + label {
    color: #0075ff;
}